/* App.css */

.ant-tabs-nav-wrap {
  justify-content: center;
}

@media (max-width: 640px) {
    .movie-card-container {
      width: 100%;
      display: block;
    }
  }
  
  @media (min-width: 641px) {
    .movie-card-container {
      width: calc(50% - 20px);
      display: inline-block;
    }
  }
  